@import "bootstrap";

.draft {
  background-color: $white;
  color: $gray-900;
}

.under_moderation {
  background-color: $teal;
}

.published {
  background-color: $green;
}

.rejected {
  background-color: $red;
}

.archived {
  background-color: $gray-600;
}